.button-vert {
  background-color: #789F2A;
  padding: 10px 13px;
  border-radius: 10px;
  color: white;
  font-family: "Lora";
  font-size: 20px;
}

.button-vert:hover {
  opacity: 0.9;
  text-decoration: underline;
}
